.contact-option {
    text-decoration: none;
}

.contact-option i {
    font-size: 26px;
    color:white;
}

@media (hover: hover) {
    .contact-option i:hover{
        color: rgba(80, 216, 144);
    }
}
