.contact-option {
    text-decoration: none;
}

.contact-option i {
    font-size: 26px;
    color:white;
}

.contact-option i:hover{
    color: rgba(80, 216, 144);
}

.cv-download {
    background-color: rgba(80, 216, 144);
    border: none;
    color: black;
    padding: 6px 8px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
    text-decoration: none;
}
  
.cv-download:hover {
    background-color: rgb(49, 133, 88);
}
