/* CONTACT OPTIONS */

.contact-option {
    text-decoration: none;
}

.contact-option i {
    font-size: 26px;
    color:white;
}

.content-section {
    color: white;
}

@media (hover: hover) {
    .contact-option i:hover{
        color: rgba(80, 216, 144);
    }
}

/* CERTIFICATIONS */

.certification-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    padding: 40px;
}
  
.certification-card {
    width: min(100%, 500px);
    border-radius: 16px;
    z-index: 5;
    text-decoration: none;
}
  
.certification-card > img {
    display: block;
    width: 100%;
    max-width: 500px;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 16px 16px 0 0;
    filter: contrast(70%);
    transition: all 0.6s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}
  
.certification-card:hover > img {
    filter: contrast(100%);
}

.certification-card-content {
    display: flex;
    flex-direction: column;
    padding: 15px;
    text-align: center;
}

.certification-card-content > p {
    margin: 0px;
}

.certification-card-content > p:nth-child(1) {
    font-size: 1rem;
    margin-bottom: 10px;
    color: white;
}

.certification-card-content > p:nth-child(2) {
    font-size: 0.8rem;
    font-weight: 400;
    color: #6b7280;
}

@media (max-width: 900px) {
    .certification-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}
  
@media (max-width: 500px) {
    .certification-cards {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (hover: hover) {
    .certification-card:hover img{
        -webkit-filter: drop-shadow(0px 0px 5px rgba(80, 216, 144));
        filter: drop-shadow(0px 0px 5px rgba(80, 216, 144));
    }
}

@media (hover: hover) {
    .certification-card:hover .certification-card-content p{
        color: rgba(80, 216, 144);
    }
}

/* HOBBIES */

.hobby-cards * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.hobby-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 40px;
}

.hobby-card {
    width: min(100%, 500px);
    background: rgba(137, 148, 153, 1);
    border-radius: 16px;
    z-index: 5;
    text-decoration: none;
    height: 70px;
}

.hobby-card-content {
    display: flex;
    flex-direction: column;
    padding: 20px 15px 20px 0px;
}

@media (max-width: 900px) {
    .hobby-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .hobby-cards {
        grid-template-columns: repeat(1, 1fr);
    }
}

.hobby-icon {
    padding: 20px;
}

.hobby-description {
    padding-top: 4px;
}

/* SKILLS */

.skill-cards * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.skill-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 40px;
}

.skill-card {
    width: min(100%, 500px);
    background: rgba(137, 148, 153, 1);
    border-radius: 16px;
    z-index: 5;
    text-decoration: none;
    height: 70px;
}

.skill-card-content {
    display: flex;
    flex-direction: column;
    padding: 20px 15px 20px 0px;
}

@media (max-width: 900px) {
    .skill-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .skill-cards {
        grid-template-columns: repeat(1, 1fr);
    }
}

.skill-icon {
    padding: 20px;
}

.skill-description {
    padding-top: 4px;
}

.about-skill-description{
    padding-left: 60px;
}

.about-role-count{
    padding-left: 60px;
}

.about-skill-name{
    padding-top: 10px;
    cursor: pointer;
}

.about-skill-name::before{
    position: absolute;
    padding-top: 10px;
    padding-left: 16px;
}

.about-skill-name::before {
    margin-left: 1ch;
    display: inline-block;
    font-family: FontAwesome; 
    content: '\f078';
    transition: 0.4s;
}

.about-skill-details{
    cursor: pointer;
}

.about-skill-details > .about-skill-name::marker, /* Latest Chrome, Edge, Firefox */ 
.about-skill-details > .about-skill-name::-webkit-details-marker /* Safari */ {
    display: none;
}

.about-skill-details[open] > .about-skill-name::before {
    transform: rotate(180deg);
    transform-origin: 24px 23px;
}

.about-skill-details[open] {
    -webkit-filter: drop-shadow(0px 0px 8px rgba(80, 216, 144));
    filter: drop-shadow(0px 0px 8px rgba(80, 216, 144));
}

.about-skill-details > .about-skill-name {
    list-style: none;
}