.date {
    float: right;
    font-size: 16px;
    position: relative;
    top: 14px;
}

.role-title {
    margin-bottom: 0px;
}

.company-title {
    margin-top: 0px;
}

.title-section {
    background: rgba(80, 216, 144);
    padding: 10px 24px 10px 24px;
    box-shadow: inset 0px 0px 4px 4px #232931;
    color: black;
    margin-bottom: 6px;
}

.one{
    width:240px;
    height:400px;
    float:left;
}

.two{
    width:580px;
    height:auto;
    color: white;
    overflow:hidden;
}

.rb-container {
    width: 50%;
    display: block;
    position: relative;
}

.rb-container ul.rb {
    margin: 2.5em 0;
    padding: 0;
    display: inline-block;
}

.rb-container ul.rb li {
    list-style: none;
    margin: auto;
    margin-left: 2em;
    min-height: 80px;
    border-left: 1px dashed rgba(137, 148, 153, 1);
    min-width: 180px;
    padding: 0 0 50px 30px;
    position: relative;
}

.rb-container ul.rb li.rb-item a {
    text-decoration: none;
    top: -12px;
}

.rb-container ul.rb li:last-child {
    border-left: 0;
}

.rb-container ul.rb li::before {
    position: absolute;
    left: -10px;
    top: -2px;
    content: " ";
    border: 4px solid rgba(137, 148, 153, 1);
    border-radius: 500%;
    background: #232931;
    height: 10px;
    width: 10px;
    transition: all 250ms ease-in-out;
}

.rb-container ul.rb li.rb-item:has(a:hover)::before {
    border-color: #fff;
    background: #fff;
}

.rb-container ul.rb li.rb-item a:hover div.item-title {
    color: #fff;
}

.rb-container ul.rb li.rb-item a:hover div.timestamp {
    color: #fff;
}


@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(102, 255, 153, 0.5);
    }
    100% {
        box-shadow: 0 0 0 14px rgba(0, 0, 0, 0);
    }
}

ul.rb li .timestamp {
    color: rgba(137, 148, 153, 1);
    position: relative;
    width: 140px;
    font-size: 12px;
}

.item-title {
    color: rgba(137, 148, 153, 1);
}

.rb-container ul.rb li.rb-item.selected::before {
    border-color: #50d890 !important;
    background: #50d890 !important;
    animation: pulse-animation 2s infinite;
}

.rb-container ul.rb li.rb-item.selected a div.item-title {
    color: #fff;
}

.rb-container ul.rb li.rb-item.selected a div.timestamp {
    color: #50d890;
}

#list-of-roles {
    margin-bottom: 0px;
}

.role-description {
    display: none;
    padding-left: 36px;
    border-left: 2px solid rgba(137, 148, 153, 1);
}

.role-description.displayed {
    display: block;
    visibility: visible;
}

#group-of-details{
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 4px;
    display: flex;
}
  
.detail-category {
    height: 42px;
    width: 100%;
    line-height: 42px;
    text-align: center;
    position: relative;
    border-radius: 10px 10px 0 0;
    text-decoration: none;
    color: rgba(137, 148, 153, 1);
}
  
.detail-category:hover{
    color: white;
}
  
.detail-category.selected {
    background-color: #181c21;
    color: rgba(80, 216, 144) !important;
}
  
.tab-content {
    display: none;
    line-height: 25px;
    padding: 16px;
    background: #181c21;
    margin-left: 2px;
    margin-right: 2px;
}

.tab-content[id$="responsibilities"] {
    border-radius: 0 10px 10px 10px;
}

.tab-content[id$="skills"] {
    border-radius: 10px 10px 10px 10px;
}

.tab-content[id$="tools"] {
    border-radius: 10px 0 10px 10px;
}

.tab-content.displayed{
    display: block;
}

.skill-content{
    padding-top: 16px;
    padding-right: 20px;
    padding-left: 20px;
}

.skill-name{
    display: block;
    cursor: pointer;
    border-radius: 25px;
    background-color: gray;
    padding: 10px 25px;
    color: white;
    font-size: 80%;
    margin-bottom: 6px;
}

.skill-name::before {
    margin-left: 1ch;
    display: inline-block;
    font-family: FontAwesome; 
    content: '\f078';
    transition: 0.4s;
}

.skill-name span{
    padding-left: 16px;
}

.skill-details{
    background-color: #c1c1c1;
    border-radius: 25px 25px 10px 10px;
}

.skill-details[open] > .skill-name::before {
    transform: rotate(180deg);
}

.skill-details[open] > .skill-name {
    border-radius: 25px 25px 0px 0px;
}

.skill-details > .skill-name {
    list-style: none;
}

.skill-details > .skill-name::marker, /* Latest Chrome, Edge, Firefox */ 
.skill-details > .skill-name::-webkit-details-marker /* Safari */ {
    display: none;
}

.skill-description {
    font-size: 14px;
}
