/*** importing css files ***/
@import "experiences.css";
@import "about.css";

@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.3.1/css/flag-icon.min.css");

html {
    margin-left: calc(100vw - 100%);
}

body {
  background: #232931;
  font-family: "PT Sans", sans-serif;
}

#container{
  margin: 0 auto;
  width:860px;
}

::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    border-radius: 100px;
}
::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 5px solid transparent;
    background-clip: content-box;
    background-color: rgba(80, 216, 144);
}

/* MAIN TITLE */

.main-title{
    color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 40px;
    padding-bottom: 20px;
    background-color: #232931;
    z-index: 99;
    padding-top: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* NAVBAR */

#main-navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0; 
    background-color: #232931; 
    z-index: 99;
}

#main-navbar ul {
    padding-inline-start: 0px;
}

#main-navbar li {
    display: inline-block;
    padding: 10px;
}

#main-navbar li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: rgba(124, 124, 124, 1);
}

#main-navbar li a:focus, a:hover {
    color: white !important;
    text-decoration: none;
}

#main-navbar li a.selected {
    color: rgba(80, 216, 144) !important;
}
