<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico">
        <link rel="stylesheet" href="./static/css/main.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script defer src="./static/js/select_navbar.js" type="text/javascript"></script>
        <script defer src="./static/js/select_position.js" type="text/javascript"></script>
    </head>
    <body>
        <div id="container">
            <nav id="main-navbar">
                <ul>
                    <li style="padding-left: 0px;"><a id="about" class="nav-item selected" href="/">About</a></li>
                    <li><a id="experiences" class="nav-item" href="experiences">Experiences</a></li>
                </ul>
            </nav>
            {{ content }}
        </div>
    </body>
</html>
